@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(http://kirby:8888/panel/assets/fonts/sourcesanspro-400.woff) format("woff")
}

body {
  margin-top: 50px !important;
}

.panelbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 50px;

  background-color :#000;
  box-shadow:rgba(0,0,0,0.075) 0 0px 4px;

  font-family: 'Source Sans Pro', 'Apple LiGothic Medium', 'Microsoft JhengHei UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: .85em;
  font-weight: normal;

  z-index: 1001;
}

.panelbar__btn {
  display: inline-block;
  color: #fff;
}

.panelbar__btn:not(:first-child):not(.panelbar__btn--logout) {
  border-left: 1px dotted #555;
}

.panelbar__btn > a,
.panelbar__btn > span {
  display: inline-block;
  padding: 10px 16px;

  color: #fff;
  transition: none;
}

.panelbar__btn > a:hover,
.panelbar__lang:hover  {
  color: #999;
  transition: none;
}

.panelbar__btn > a:before,
.panelbar__btn > span:before {
  font-family: "FontAwesome";
  margin-right: 7px;
}

/* Logout */

.panelbar__btn--logout {
  float: right;
}


/* Languages */

.panelbar__btn--lang {
  position: relative;
}

.panelbar__langs {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 100%;

  background-color :#000;
  box-shadow:rgba(0,0,0,0.075) 0 0px 4px;
}

.panelbar__btn--lang:hover .panelbar__langs {
  display: block;
}

.panelbar__lang {
  display: block;
  padding: 10px 16px;
  text-align: center;

  color: #fff;
  transition: none;
  line-height: 1.2;

  border-top: 1px dotted #555;
}


/* Icons */

.panelbar__btn--panel > a:before {
  content: "\f085";
}
.panelbar__btn--edit > a:before {
  content: "\f044";
}
.panelbar__btn--lang > a:before {
  content: "\f024";
}
.panelbar__btn--logout > a:before {
  content: "\f08b";
}
