
/* Fonts */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Bar */

.panelbar {
  position: fixed;
  z-index: 1001;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 1;

  background-color :#000;
  box-shadow:rgba(0,0,0,0.075) 0 0px 4px;

  font-family: 'Source Sans Pro', 'Apple LiGothic Medium', 'Microsoft JhengHei UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.panelbar.top    { top: 0; }
.panelbar.bottom { bottom: 0; }


.panelbar a {
  color: #fff;
  transition: none;
  text-decoration: none;
}

.panelbar a:hover {
  color: #999;
}

.panelbar i:not(.fa-styleless) {
  margin-right: 7px;
}

.fa-styleless {
  margin-left: 7px;
}

.panelbar__el--right {
  float: right;
}

/* Buttons */

.panelbar__btn {
  display: inline-block;
  color: #fff;
}

.panelbar__btn:not(:first-child):not(:last-child) {
  border-left: 1px dotted #555;
}




.panelbar__btn  > a,
.panelbar__drop > span {
  display: inline-block;
  padding: 17px 18px;
  cursor: pointer;
}


/* Dropdowns */

.panelbar__drop {
  display: inline-block;
  position: relative;

  color: #fff;
  text-transform: uppercase;

  border-left: 1px dotted #555;
}



.panelbar__dropitems {
  display: none;
  position: absolute;
  min-width: 100%;

  background-color :#000;
  box-shadow:rgba(0,0,0,0.075) 0 0px 4px;
}

.panelbar.top    .panelbar__dropitems { top: 100%; }
.panelbar.bottom .panelbar__dropitems { bottom: 100%; }


.panelbar__drop:hover .panelbar__dropitems {
  display: block;
}

.panelbar__dropitem {
  display: block;
  padding: 10px 16px;
  text-align: center;

  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  color: #fff;
  transition: none;
  line-height: 1.2;

  border-top: 1px dotted #555;
}


/* Mobile */

@media (max-width: 650px) {

  .panelbar__btn > a > span,
  .panelbar__drop i:not(.fa-styleless) {
    display: none;
  }

}
